@model PizzaBox.Domain.Models.OrderModel;

<div>
    @foreach(var p in @Model.Pizzas)
    {
        <p>@p.Crust.Name</p>
        @foreach(var t in p.Toppings)
        {
            <p>@t.Name</p>
        }
    }
    
</div>